  <div class="text-center py-5">
    <div class="container">
      <div class="row my-5 justify-content-center">
        <div class="col-md-9">
          <p class="lead text-muted">
            <hr><br>【点击上方导航栏，开始阅读之旅】<br><br>
          </p>
          <h1>哩迹 LIMITED=G 文章网</h1>
          <br><br>
          <p class="lead text-muted">
            【阅读的好处】<br>
            书籍是全世界的营养品<br>
            读书有助于孩子形成良好的品格和健全的人格<br>
            读书可以给我们打拼的勇气和战胜困难的力量<br>
            读课外书有助于积累词汇，提高写作能力<br>
            提高孩子的学习兴趣和积极性<br>
          </p>
        </div>
      </div>
    </div>
  </div>